p {
    font-size: 20px;
    text-align: center;
    color: aquamarine;
}

h1 {
    text-align: center;
    color: aquamarine;
}

body {
    background-color: black;
}

footer {
    background-color: white;
}
